html {
  --color-primary: #057ee6;
}
.navbarCard {
  border: 2px solid var(--color-primary);
  border-radius: 500px;
  display: inline-flex;
  margin: 5px;
  padding: 10px;
  padding-left: 0;
  width: 200px;
  max-width: 300px;
  min-width: 100px;
}
.navbarCard:hover {
  background-color: var(--color-primary);
}
.navbarCard:hover .navCardIcon {
  border-color: white;
}
.navbarCard:hover .navCardText,
.navbarCard:hover .navCardIcon .cardIcon {
  color: white;
}
.navCardIcon {
  border-right: 2px solid var(--color-primary);
  flex: 1;
  height: 100%;
  margin-right: 15px;
  margin-left: 5px;
  padding: 10px;
}
.navCardText {
  align-items: center;
  font-size: 0.9rem;
  display: flex;
  flex: 5;
}
.cardIcon {
  color: var(--color-primary);
  font-size: 1.25em;
  line-height: 0.75em;
}

@media only screen and (max-width: 768px) {
  .navbarCard {
    width: 50px;
    max-width: 75px;
    min-width: 25px;
    height: 50px;
  }
  .navCardIcon {
    border: none;
    padding: 0;
    padding-left: 10px;
  }
  .cardIcon {
    font-size: 1em;
    line-height: 0.5em;
  }
  .navCardText {
    display: none;
  }
}
